:root {
    --max-width: 1170px;
}

/**
@media screen and ( min-width: 600px ) {

    .editor-styles-wrapper .wp-block { 
        width: 90%; 
        max-width: var( --max-width ); 
    }

    .editor-styles-wrapper .wp-block[data-align="wide"] { 
        max-width:  var( --max-width ); 
    }

    .editor-styles-wrapper .wp-block[data-align="full"] { 
        max-width: initial; 
    }

}
**/